.container{
    width: 30%;
    border: 1px gray solid;
    border-radius: 0.3vw;
}
.h1{
    font-size: 2.5vw;
}
.h2{
    margin: 2vw 1vw;
    font-size: 2vw;
}
.img{
    margin-top: 2vw;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vw;
}
.btnClose{
    background-color: red;
    border-radius: 0.3vw;
    border: none;
    padding: 0 0.6vw;
    cursor: pointer;
}
.contBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0.5vw;
}